.imgblock {

    overflow-y: scroll;
    height: 50px;
    resize: none;
}

.skillblock {
    overflow-x: scroll;
}

.flexing{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: scroll;
    height: 100%;
    resize: none;
}

.flexing button {
    width:60px;
    height: 65px;
}

button, img{
    max-width:50%;
}

.cardblock{
    display: inline-block;

}

textarea {
    height: 100px;
}



container-fluid, div {
    display: inline-block;
}

.scroll {
    overflow-y: scroll;
}

selectdiv {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-evenly;

}

.imgselect {
    width: 15%;
}

middle {
    margin: 0 auto;
}

.topbar div {
    display: inline-block;
}

.topbar h2 {
    display: inline-block;
    color: white;
}



h3 {
    display: inline-block;
}



.site-content {
    background-image: url("static/images/back.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Additional customization */
}